<!-- hero-banner-carousel.liquid -->

{%- style -%}
  .gradient_look {
    position: relative;
  }

  .gradient_look:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    pointer-events: none;
  }
  .hero-split-slide {
    display: flex;
    align-items: stretch;
    width: 100%;
  }

  .hero-split-media {
    width: 70%;
    position: relative;
    overflow: hidden;
  }

  .hero-split-content {
    width: 30%;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 32px 58px;
    background: #FFF6F2;

  }

  .hero-split-media.full-width-media {
    width: 100%;
  }

  .hero-split-content.hide-content-info {
    display: none;
  }

  .square-banner-slide {
    display: block;
    width: 100%;
    height: 100%;
  }

  .square-banner-media,
  .square-banner-slide img,
   {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-info-content {
    width: 92%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(18px, 1.5vw, 32px);
  }

  .banner-info-content-logo img {
    width: auto;
    height: clamp(20px, 4vw, 28px);
  }

  .banner-info-text h3 {
    /* font-family: var(--header-family); */
    font-weight: 700;
    font-size: clamp(24px, 3vw, 42px);
    line-height: 1.15;
    margin: 0;
  }

  .banner-info-text-height {
    height: 10px;
  }

 
  .banner-info-content-button {
    width: 100%;
  }

  .banner-info-content-button button {
    font-size: clamp(16px, 1.2vw, 18px);
    font-weight: 600;
    padding: 10px 34px;
    font-family: "elza", sans-serif;
    background: transparent;
    border-radius: 100px;
    text-transform: uppercase;
    transition: 0.3s ease;
    width:40%;
    margin-top:24px;
   
  }

  .banner-info-content-button button.button-style-dark {
   background: #937EF9;
   color: #fff;
   border: none;
   width:100%;
   white-space: nowrap;
  }

  .banner-info-content-button button.button-style-dark:hover {
    background: #000;
    color: #fff;
  }

  .banner-info-content-button button.button-style-white {
    border: 1px solid #fff;
    color: #fff;
  }

  .banner-info-content-button button.button-style-white:hover {
    background: #fff;
    color: #000;
  }

  .banner-info-top-tag {
    position: absolute;
    top: 24px;
    right: 24px;
    width: auto;
    height: clamp(50px, 8vw, 110px);
    z-index: 2;
  }

  .banner-info-bottom-tag {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: auto;
    height: clamp(30px, 4vw, 50px);
    opacity: 0.5;
    z-index: 2;
  }

  .banner-info-top-tag svg {
    width: 100%;
    height: 100%;
  }

  #hero-pagination-wrapper-{{ section.id }} {
    height: auto;
    position: absolute;
    /* top: -20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  #hero-pagination-wrapper-{{ section.id }} .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  #hero-pagination-wrapper-{{ section.id }} .swiper-pagination-bullet {
    position: relative;
    width: 6px;
    height: 6px;
    border: 1px solid #00000012;
    border-radius: 8px;
    background-color: #00000012;
    cursor: pointer;
    opacity: 1;
    overflow: hidden;
    transition: width 0.3s ease, background 0.3s ease;
    color: transparent;
    font-size: 0;
  }

  #hero-pagination-wrapper-{{ section.id }} .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    inset: 0;
    width: var(--bullet-progress, 0%);
    height: 100%;
    border-radius: 999px;
    background: #000;
    transition: width 0.1s linear;
  }

  #hero-pagination-wrapper-{{ section.id }} .swiper-pagination-bullet-active {
    width: 30px;
    background: transparent;
    border: 1px solid #00000012;
  }
  .swiper-slide.swiper-slide-active .banner-info-content .banner-info-content-logo img {
    animation-delay: 0.2s;
  }

  .swiper-slide.swiper-slide-active .banner-info-content .banner-info-content-text h3,
  .swiper-slide.swiper-slide-active .banner-info-content .banner-info-content-text p {
    animation-delay: 0.3s;
  }

  .swiper-slide.swiper-slide-active .banner-info-content .banner-info-content-button {
    animation-delay: 0.4s;
  }
   .banner-info-text h3 {
      font-size: 30px;
      line-height: 32px;
      font-weight: 400;
      font-family: "VinilaCondensed", sans-serif;

    }
    .sub-content_main_banner p{
      color: #252525;
      font-family: "elza", sans-serif;
      font-size: clamp(14px, 1.5vw, 20px);
      margin-top: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .desktop_screen {
    display: none;
}
  @media screen and (min-width: 768px) {
    

  #hero-pagination-wrapper-{{ section.id }} {
     margin-top: {{ section.settings.pagination_margin_top }}px;
  }
    .gradient_mobile::before {
      background: transparent;
    }
    
    .banner-info-text.desktop_screen {
      display: block;
    }
 .mobile_screen{
        display:none;
      }
    .slider_arrows {
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 2rem;
      width: calc(100% - 4rem);
      z-index: 3;
    }

    .slider_arrows .carousel-btn svg {
      width: 50px;
      height: 50px;
      transition: 0.3s ease;
      opacity: 0;
    }

    .hero-banner-carousel-layout:hover .carousel-btn svg {
      opacity: 1;
    }
  }

  @media screen and (max-width: 767px) {
   .carousel-wrapper-outer,
  .carousel-wrapper-inner,
  .swiper,
  .swiper-wrapper,
  .swiper-slide,
  .carousel-nav-wrapper {
    /* overflow: visible !important; */
  }
  .sub-content_main_banner p{
    letter-spacing: 0;
    font-weight:500;
  }
  .banner-info-content-button button.button-style-dark {width:100%;}
  .hero-split-slide {
    flex-direction: column;
    position: relative;
  }

  .hero-split-media {
    width: 100%;
    order: 1;
    overflow: hidden;
  }
  
  .hero-split-content {
    width: 100%;
    order: 2;
    position: relative;
    background: #FFf6f2;
    padding: 20px 16px 50px;
    overflow: visible !important;
   justify-content: flex-start;
    z-index: 2;
   
  }

    .gradient_look:before {
      width: 100%;
      height: 50%;
    }
   .content_main_banner{
      color: #252525;
      font-family: "VinilaCondensed", sans-serif;
      font-family: "Vinila Condensed Test";
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; 
      letter-spacing: -0.6px;
      margin-bottom:8px;
    }
    
    .banner-info-text.mobile_screen {
      display: block;
    }


    .gradient_desktop::before {
      background: transparent;
    }

    .hero-split-slide {
      flex-direction: column;
    }

    .hero-split-media,
    .hero-split-content {
      width: 100%;
      
      
    }
  
    .hero-split-content {
      order: 2;
      padding: 16px  24px 32px 24px;
      min-height:250px;
      align-items: flex-start;
    }

    .hero-split-media {
      order: 1;
    }

    .banner-info-content {
      gap: 16px;
      width:100%;
      justify-content: flex-start;
    }

    .banner-info-text h3 {
      font-size: 30px;
      font-weight: 400;
      letter-spacing:-1px;
      /* min-height:65px; */
    }

    /* .sub-content_main_banner p{
       min-height:75px;
    } */
    .banner-info-top-tag {
      top: 20px;
      right: 24px;
    }

    .banner-info-content-button button {
      padding: 10px 28px;
      margin-top:8px;
    }
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-65px, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
{%- endstyle -%}
<div class="section-{{ section.id }}-margin">
  <div class="{% if section.settings.showContainer %}{{ section.settings.showContainer }}{% endif %} carousel-section-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="carousel-nav-wrapper">
      <div id="hero-banner-layout-{{ section.id }}" class="carousel-wrapper-outer overflow-hidden">
        <div class="carousel-wrapper-inner swiper-wrapper">
          {% for block in section.blocks %}
            {% liquid
              assign desktop_image = block.settings.banner-image-desktop
              if forloop.first
                assign loading_attr = 'eager'
                assign fetch_priority = 'high'
              else
                assign loading_attr = 'lazy'
                assign fetch_priority = 'auto'
              endif
            %}

            <div class="swiper-slide">
              <div class="hero-split-slide">
                <div class="hero-split-media{% if block.settings.full_width_image %} full-width-media{% endif %}">
                  <a
                    href="{{ block.settings['banner-url'] }}"
                    class="square-banner-slide{% if block.settings.show_gradient != "none" %} gradient_look {{ block.settings.show_gradient }} {{ block.settings.gradient_condition }}{% endif %}"
                    {% if section.settings.seo_text %}
                      data-location="{{ section.settings.seo_text | append: forloop.index }}"
                    {% endif %}
                  >
                    {% case block.type %}
                      {% when 'image-media' %}
                        <picture>
                          {% if block.settings.banner-image-mobile != blank %}
                            {% assign mobile_image = block.settings.banner-image-mobile %}
                            <source
                              media="(max-width: 767px)"
                              srcset="
                                {{ mobile_image | image_url: width: 320, format: 'webp' }} 320w,
                                {{ mobile_image | image_url: width: 390, format: 'webp' }} 390w,
                                {{ mobile_image | image_url: width: 480, format: 'webp' }} 480w,
                                {{ mobile_image | image_url: width: 550, format: 'webp' }} 550w,
                                {{ mobile_image | image_url: width: 750, format: 'webp' }} 750w
                              "
                              sizes="100vw"
                            >
                          {% endif %}

                          <img
                            src="{{ desktop_image | image_url: width: 1280, format: 'webp' }}"
                            srcset="
                              {{ desktop_image | image_url: width: 960, format: 'webp' }} 960w,
                              {{ desktop_image | image_url: width: 1100, format: 'webp' }} 1100w,
                              {{ desktop_image | image_url: width: 1280, format: 'webp' }} 1280w,
                              {{ desktop_image | image_url: width: 1440, format: 'webp' }} 1440w
                            "
                            sizes="{% if block.settings.full_width_image %}(min-width: 768px) 100vw, 100vw{% else %}(min-width: 768px) 70vw, 100vw{% endif %}"
                            width="{{ desktop_image.width }}"
                            height="{{ desktop_image.height }}"
                            loading="{{ loading_attr }}"
                            fetchpriority="{{ fetch_priority }}"
                            decoding="async"
                            class="w-100 square-banner-media"
                            alt="{{ block.settings.cta_text | strip_html | escape }}"
                          >
                        </picture>

                      {% when 'video-media' %}
                        {% assign media_desktop = block.settings['banner-video-desktop'] %}
                        {% if block.settings['banner-video-mobile'] != blank %}
                          {% assign media_mobile = block.settings['banner-video-mobile'] %}
                          {{
                            media_desktop
                            | video_tag:
                              image_size: '1280x',
                              width: '100%',
                              height: 'auto',
                              class: 'desktop_screen square-banner-media',
                              autoplay: true,
                              loop: true,
                              muted: true,
                              controls: false
                          }}
                          {{
                            media_mobile
                            | video_tag:
                              image_size: '500x',
                              width: '100%',
                              height: 'auto',
                              class: 'mobile_screen square-banner-media',
                              autoplay: true,
                              loop: true,
                              muted: true,
                              controls: false
                          }}
                        {% else %}
                          {{
                            media_desktop
                            | video_tag:
                              image_size: '1280x',
                              width: '100%',
                              height: 'auto',
                              class: 'desktop_screen square-banner-media',
                              autoplay: true,
                              loop: true,
                              muted: true,
                              controls: false
                          }}
                        {% endif %}
                    {% endcase %}
                  </a>

                  {% if block.settings.banner_top_tag != 'none' %}
                    <div class="banner-info-top-tag">
                      {% if block.settings.banner_top_tag == 'bestseller' %}
                        {{ 'Bestseller_tag.svg' | inline_asset_content }}
                      {% elsif block.settings.banner_top_tag == 'hok_exclusive' %}
                        {{ 'Hok exclusive_tag.svg' | inline_asset_content }}
                      {% elsif block.settings.banner_top_tag == 'limited_stock' %}
                        {{ 'Limited stock_tag.svg' | inline_asset_content }}
                      {% elsif block.settings.banner_top_tag == 'new_launch' %}
                        {{ 'New launch_tag.svg' | inline_asset_content }}
                      {% elsif block.settings.banner_top_tag == 'new_sale' %}
                        {{ 'On sale_tag.svg' | inline_asset_content }}
                      {% elsif block.settings.banner_top_tag == 'trending' %}
                        {{ 'Trending_tag.svg' | inline_asset_content }}
                      {% endif %}
                    </div>
                  {% endif %}

                  {% if block.settings.banner_bottom_logo %}
                    <div class="banner-info-bottom-tag desktop_screen">
                      <img
                        src="{{ block.settings.banner_bottom_logo | image_url: height: 30, format: 'png' }}"
                        height="30"
                        width="auto"
                        loading="lazy"
                        alt="{{ block.settings['banner-url'] }}"
                      >
                    </div>
                  {% endif %}
                </div>

                {% if block.settings.cta_text != blank %}
                  <div class="hero-split-content{% if block.settings.full_width_image %} hide-content-info{% endif %}{% if block.settings.content_visibility %} {{ block.settings.content_visibility }}{% endif %}">
                    <div class="banner-info-content">
                      {% if block.settings.logo %}
                        <div class="banner-info-content-logo mb-0 mb-md-3">
                          <img
                            src="{{ block.settings.logo | image_url: height: 48, format: 'png' }}"
                            alt="Hero Banner-{{ section.settings.seo_text | append: forloop.index }}"
                            height="48"
                            width="auto"
                            fetchpriority="auto"
                          >
                        </div>
                      {% endif %}

                      <div class="banner-info-content-text">
                        <div class="banner-info-text desktop_screen {{ block.settings.text_style }}">
                          <div class="content_main_banner">{{ block.settings.cta_text }}</div>
                          <div class="banner-info-text-height"></div>
                          <div class="sub-content_main_banner">{{ block.settings.cta_subtext }}</div>
                        </div>

                        <div class="banner-info-text mobile_screen {{ block.settings.text_style }}">
                          <div class="content_main_banner">{{ block.settings.cta_text_mobile }}</div>
                          <div class="banner-info-text-height"></div>
                          <div class="sub-content_main_banner">{{ block.settings.cta_subtext_mobile }}</div>
                        </div>
                      </div>
                          
                      {% assign media_desktop = block.settings['banner-video-desktop'] %}
                       	{% assign media_mobile = block.settings['banner-video-mobile'] %}
                      {% if block.settings.button_style != 'none' %}
                        <div class="banner-info-content-button">
                          <a href="{{ block.settings['banner-url'] }}">
                            <button class="ahh d-center {{ block.settings.button_style }}"  {% if media_desktop or media_mobile  %} style="background: {{ block.settings.button-color-v | default: '#937EF9'}}"{%  else %}style="background: {{ block.settings.button-color | default: '#937EF9'}}"{% endif %} type="button">
                              {{ block.settings.button_text }}
                            </button>
                          </a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if section.blocks.size > 1 %}
        <div class="desktop_screen slider_arrows">
          <div id="carousel-prev-{{ section.id }}" class="carousel-btn border-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <rect width="40" height="40" rx="20" transform="matrix(-1 0 0 1 40 0)" fill="#2D2D2D" fill-opacity="0.16"/>
              <path d="M23 14L17.1414 19.8586C17.0633 19.9367 17.0633 20.0633 17.1414 20.1414L23 26" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round"/>
            </svg>
          </div>
          <div id="carousel-next-{{ section.id }}" class="carousel-btn border-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
              <rect width="40" height="40" rx="20" fill="#2D2D2D" fill-opacity="0.16"></rect>
              <path d="M17 14L22.8586 19.8586C22.9367 19.9367 22.9367 20.0633 22.8586 20.1414L17 26" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round"></path>
            </svg>
          </div>
        </div>
      {% endif %}

      <div id="hero-pagination-wrapper-{{ section.id }}" class="mobile_screen"></div>
    </div>
  </div>
</div>

<script>
  {% assign section_unique_name = section.id | remove: '-' | remove: '_' %}
  const swiperElement = document.querySelector('#hero-banner-layout-{{ section.id }}');

  if (swiperElement) {
    const bannerSlider{{ section_unique_name }} = new Swiper('#hero-banner-layout-{{ section.id }}', {
      slidesPerView: 1,
      autoHeight: true,
      loop: {{ section.settings.loop }},
      speed: 900,
      touchStartForcePreventDefault: true,
      autoplay: {
        delay: 16000,
        disableOnInteraction: false
      },
      navigation: {
        prevEl: '#carousel-prev-{{ section.id }}',
        nextEl: '#carousel-next-{{ section.id }}',
        disabledClass: 'disabled_swiper_button'
      },
      pagination: {
        el: '#hero-pagination-wrapper-{{ section.id }}',
        clickable: true
      },
      on: {
        init: function () {
          resetHeroBullets{{ section_unique_name }}(this);
          setHeroBulletProgress{{ section_unique_name }}(this, 0);
        },
        slideChange: function () {
          resetHeroBullets{{ section_unique_name }}(this);
          setHeroBulletProgress{{ section_unique_name }}(this, 0);
        },
        autoplayTimeLeft: function (swiper, time, progress) {
          const bullets = swiper.pagination.bullets;
          const activeIndex = swiper.realIndex;

          if (!bullets || !bullets.length || !bullets[activeIndex]) return;

          const percent = (1 - progress) * 100;
          bullets[activeIndex].style.setProperty('--bullet-progress', percent + '%');
        }
      }
    });

    function resetHeroBullets{{ section_unique_name }}(swiper) {
      const bullets = swiper.pagination.bullets;
      if (!bullets || !bullets.length) return;

      bullets.forEach((bullet) => {
        bullet.style.setProperty('--bullet-progress', '0%');
      });
    }

    function setHeroBulletProgress{{ section_unique_name }}(swiper, value) {
      const bullets = swiper.pagination.bullets;
      const activeIndex = swiper.realIndex;

      if (!bullets || !bullets.length || !bullets[activeIndex]) return;

      bullets[activeIndex].style.setProperty('--bullet-progress', value + '%');
    }
  }
</script>

{% schema %}
{
  "name": "Hero Carousel Layout",
  "class": "hero-banner-carousel-layout",
  "max_blocks": 9,
  "tag": "section",
  "settings": [
    {
      "type": "radio",
      "id": "showContainer",
      "label": "Choose Container Style",
      "options": [
        { "value": "full-width", "label": "Show Full Container" },
        { "value": "page-width", "label": "Show FrameWork Container" }
      ],
      "default": "page-width"
    },
    {
      "type": "text",
      "id": "seo_text",
      "label": "Seo Tag Trigger Team",
      "info": "Used for GTM (Anil)"
    },
    {
      "type": "checkbox",
      "id": "enableShuffle",
      "label": "Auto Shuffle",
      "info": "If enabled - all Bunners will be Randomly shuffled",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Infinite Loop",
      "info": "If enabled ,Infinite container will enabled",
      "default": true
    },
       {
      "type": "range",
      "id": "pagination_margin_top",
      "label": "Pagination Margin Top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 34
    },
    {
      "type": "range",
      "id": "slide_speed",
      "min": 100,
      "max": 800,
      "step": 100,
      "unit": "px",
      "label": "Slider Speed",
      "default": 500
    }
  ],
  "blocks": [
    {
      "type": "image-media",
      "name": "Image Media",
      "settings": [
        {
          "type": "select",
          "id": "banner_top_tag",
          "label": "Banner Top Tag",
          "options": [
            { "value": "bestseller", "label": "Best Seller" },
            { "value": "hok_exclusive", "label": "Hok Exclusive" },
            { "value": "limited_stock", "label": "Limited Stock" },
            { "value": "new_launch", "label": "New Launch" },
            { "value": "new_sale", "label": "Ongoing Sale" },
            { "value": "trending", "label": "Trending" },
            { "value": "none", "label": "No Icon" }
          ],
          "default": "none"
        },
        {
          "type": "checkbox",
          "id": "full_width_image",
          "label": "Show Full Width Image (Hide Content)",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "banner_bottom_logo",
          "label": "Banner Bottom logo"
        },
        {
          "type": "url",
          "id": "banner-url",
          "label": "Banner URL"
        },
        {
          "type": "image_picker",
          "id": "banner-image-desktop",
          "label": "Banner Image Desktop",
          "info": "Default - aspect-ratio 1:1, 1080x1080 , Hero Banner- 1950x735px"
        },
        {
          "type": "image_picker",
          "id": "banner-image-mobile",
          "label": "Banner Image Mobile",
          "info": "If Empty , desktop image will be seen on Mobile - aspect-ratio 1:1, 1080x1080 "
        },
        {
          "type": "radio",
          "id": "show_gradient",
          "label": "Choose Gradient Style",
          "options": [
            { "value": "white-gradient", "label": "White Gradient" },
            { "value": "black-gradient", "label": "Black Gradient" },
            { "value": "none", "label": "No Gradient" }
          ],
          "default": "none"
        },
        {
          "type": "radio",
          "id": "gradient_condition",
          "label": "Choose Gradient Visibility",
          "options": [
            { "value": "gradient_on_all", "label": "Show Gradient on Both Devices" },
            { "value": "gradient_desktop", "label": "Show Gradient Only On Desktop" },
            { "value": "gradient_mobile", "label": "Show Gradient Only On Mobile" }
          ],
          "default": "gradient_on_all"
        },
        {
          "type": "radio",
          "id": "text_style",
          "label": "Choose Text Styling",
          "options": [
            { "value": "text-white", "label": "White Style Text" },
            { "value": "text-dark", "label": "Black Style Text" }
          ],
          "default": "text-dark"
        },
        {
          "type": "radio",
          "id": "button_style",
          "label": "Choose Button Styling",
          "options": [
            { "value": "button-style-white", "label": "White Button Style" },
            { "value": "button-style-dark", "label": "Black Button Style" },
            { "value": "none", "label": "No Button" }
          ],
          "default": "button-style-dark"
        },
        {
          "type": "color",
          "id": "button-color",
          "label": "Button Color",
        },
        {
        "type": "text",
        "id": "button_text",
        "label": "Default Button Text",
        "default": "Shop Now"
        },
        {
          "type": "header",
          "content": "Informative Part"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Banner Logo",
          "info": "Update Brand Logo"
        },
        {
          "type": "header",
          "content": "Desktop Informative Part"
        },
        {
          "type": "richtext",
          "id": "cta_text",
          "label": "Main Header Desktop Text",
          "info": "Reccomended words not more than 7-8 (2 liner content)"
        },
        {
          "type": "richtext",
          "id": "cta_subtext",
          "label": "Main Header Mobile Subtext",
          "info": "Reccomended words not more than 7-8 (1 liner content)"
        },
        {
          "type": "header",
          "content": "Mobile Informative Part"
        },
        {
          "type": "richtext",
          "id": "cta_text_mobile",
          "label": "Main Header Desktop Text",
          "info": "Reccomended words not more than 7-8 (2 liner content)"
        },
        {
          "type": "richtext",
          "id": "cta_subtext_mobile",
          "label": "Main Header Mobile Subtext",
          "info": "Reccomended words not more than 7-8 (1 liner content)"
        }
      ]
    },
    {
      "type": "video-media",
      "name": "Video Media",
      "settings": [
        {
          "type": "select",
          "id": "banner_top_tag",
          "label": "Banner Top Tag",
          "options": [
            { "value": "bestseller", "label": "Best Seller" },
            { "value": "hok_exclusive", "label": "Hok Exclusive" },
            { "value": "limited_stock", "label": "Limited Stock" },
            { "value": "new_launch", "label": "New Launch" },
            { "value": "new_sale", "label": "Ongoing Sale" },
            { "value": "trending", "label": "Trending" },
            { "value": "none", "label": "No Icon" }
          ],
          "default": "none"
        },
        {
          "type": "checkbox",
          "id": "full_width_image",
          "label": "Show Full Width Image (Hide Content)",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "banner_bottom_logo",
          "label": "Banner Bottom logo"
        },
        {
          "type": "url",
          "id": "banner-url",
          "label": "Banner URL"
        },
        {
          "type": "video",
          "id": "banner-video-desktop",
          "label": "Banner Video Desktop",
          "info": "aspect-ratio 1:1, 900px:900px"
        },
        {
          "type": "video",
          "id": "banner-video-mobile",
          "label": "Banner Video Mobile",
          "info": "aspect-ratio 1:1, 900px:900px"
        },
        {
          "type": "radio",
          "id": "show_gradient",
          "label": "Choose Gradient Style",
          "options": [
            { "value": "white-gradient", "label": "White Gradient" },
            { "value": "black-gradient", "label": "Black Gradient" },
            { "value": "none", "label": "No Gradient" }
          ],
          "default": "none"
        },
        {
          "type": "radio",
          "id": "gradient_condition",
          "label": "Choose Gradient Visibility",
          "options": [
            { "value": "gradient_on_all", "label": "Show Gradient on Both Devices" },
            { "value": "gradient_desktop", "label": "Show Gradient Only On Desktop" },
            { "value": "gradient_mobile", "label": "Show Gradient Only On Mobile" }
          ],
          "default": "gradient_on_all"
        },
        {
          "type": "color",
          "id": "button-color-v",
          "label": "Button Color",
        },
        {
        "type": "text",
        "id": "button_text",
        "label": "Default Button Text",
        "default": "Shop Now"
      },
        {
          "type": "radio",
          "id": "text_style",
          "label": "Choose Text Styling",
          "options": [
            { "value": "text-white", "label": "White Style Text" },
            { "value": "text-dark", "label": "Black Style Text" }
          ],
          "default": "text-dark"
        },
        {
          "type": "radio",
          "id": "button_style",
          "label": "Choose Button Styling",
          "options": [
            { "value": "button-style-white", "label": "White Button Style" },
            { "value": "button-style-dark", "label": "Black Button Style" },
            { "value": "none", "label": "No Button" }
          ],
          "default": "button-style-dark"
        },
        {
          "type": "header",
          "content": "Informative Part"
        },
        {
          "type": "select",
          "id": "content_visibility",
          "label": "Content Visibility",
          "options": [
            { "value": "d-flex", "label": "Show Everywhere" },
            { "value": "d-none d-md-flex", "label": "Show Only On Desktop" },
            { "value": "d-flex d-md-none", "label": "Show Only On Mobile" },
            { "value": "d-none", "label": "Hide from Everywhere" }
          ],
          "default": "d-flex"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Banner Logo",
          "info": "Update Brand Logo"
        },
        {
          "type": "header",
          "content": "Desktop Informative Part"
        },
        {
          "type": "richtext",
          "id": "cta_text",
          "label": "Main Header Desktop Text",
          "info": "Reccomended words not more than 7-8 (2 liner content)"
        },
        {
          "type": "richtext",
          "id": "cta_subtext",
          "label": "Main Header Mobile Subtext",
          "info": "Reccomended words not more than 7-8 (1 liner content)"
        },
        {
          "type": "header",
          "content": "Mobile Informative Part"
        },
        {
          "type": "richtext",
          "id": "cta_text_mobile",
          "label": "Main Header Desktop Text",
          "info": "Reccomended words not more than 7-8 (2 liner content)"
        },
        {
          "type": "richtext",
          "id": "cta_subtext_mobile",
          "label": "Main Header Mobile Subtext",
          "info": "Reccomended words not more than 7-8 (1 liner content)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Carousel Layout"
    }
  ]
}
{% endschema %}